<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="desenvolvimento" value="mongodb://pnp_qa:tpY8JOPv0UShM7OA@app-pdvend-sandbox-shard-00-01.aki4d.mongodb.net:27017,app-pdvend-sandbox-shard-00-00.aki4d.mongodb.net:27017,app-pdvend-sandbox-shard-00-02.aki4d.mongodb.net:27017/app-pdvend-sandbox?ssl=true&amp;replicaSet=atlas-9qcgs2-shard-0&amp;authSource=admin&amp;readPreference=primaryPreferred"/>
    <add key="homologacao" value="mongodb://pnp_qa:tpY8JOPv0UShM7OA@app-pdvend-sandbox-shard-00-01.aki4d.mongodb.net:27017,app-pdvend-sandbox-shard-00-00.aki4d.mongodb.net:27017,app-pdvend-sandbox-shard-00-02.aki4d.mongodb.net:27017/app-pdvend-sandbox?ssl=true&amp;replicaSet=atlas-9qcgs2-shard-0&amp;authSource=admin&amp;readPreference=primaryPreferred"/>
    <add key="producao" value="mongodb://pnp_qa:tpY8JOPv0UShM7OA@app-pdvend-sandbox-shard-00-01.aki4d.mongodb.net:27017,app-pdvend-sandbox-shard-00-00.aki4d.mongodb.net:27017,app-pdvend-sandbox-shard-00-02.aki4d.mongodb.net:27017/app-pdvend-sandbox?ssl=true&amp;replicaSet=atlas-9qcgs2-shard-0&amp;authSource=admin&amp;readPreference=primaryPreferred"/>
  </appSettings>
</configuration>