<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="desenvolvimento" value="mongodb://pnp_qa:tpY8JOPv0UShM7OA@app-pdvend-sandbox-shard-00-01.aki4d.mongodb.net:27017,app-pdvend-sandbox-shard-00-00.aki4d.mongodb.net:27017,app-pdvend-sandbox-shard-00-02.aki4d.mongodb.net:27017/app-pdvend-sandbox?ssl=true&amp;replicaSet=atlas-9qcgs2-shard-0&amp;authSource=admin&amp;readPreference=primaryPreferred"/>
    <add key="homologacao" value="mongodb://pnp_qa:tpY8JOPv0UShM7OA@app-pdvend-sandbox-shard-00-01.aki4d.mongodb.net:27017,app-pdvend-sandbox-shard-00-00.aki4d.mongodb.net:27017,app-pdvend-sandbox-shard-00-02.aki4d.mongodb.net:27017/app-pdvend-sandbox?ssl=true&amp;replicaSet=atlas-9qcgs2-shard-0&amp;authSource=admin&amp;readPreference=primaryPreferred"/>
    <add key="producao" value="mongodb://pnp_prod:qc8TtRtPBz6BHHm6@pnp-prod-shard-00-00-aki4d.mongodb.net:27017,pnp-prod-shard-00-01-aki4d.mongodb.net:27017,pnp-prod-shard-00-02-aki4d.mongodb.net:27017/pnp_prod?ssl=true&amp;readPreference=primaryPreferred&amp;replicaSet=pnp-prod-shard-0&amp;authSource=admin"/>

    <add key="dev_database" value="app-pdvend-sandbox" />
    <add key="hom_database" value="app-pdvend-sandbox" />
    <add key="prod_database" value="pnp_prod" />
    
    <add key="dev_company" value="4bba1713-da20-4b44-8685-e49595e4a4fa" />
    <add key="hom_company" value="4bba1713-da20-4b44-8685-e49595e4a4fa" />
    <add key="prod_company" value="4bba1713-da20-4b44-8685-e49595e4a4fa" />
  </appSettings>
</configuration>